
.title , .title1 {
    text-align: center;
}

div.list2 {
    list-style: decimal;
}


@media only screen and (max-width: 600px){
    #list1, #list2, #list3 ,#list4 {
        font-size: 150%;
    }
    h2.title {
        font-size: 150%;
    } 
    * {
        box-sizing: border-box;
    }
}