html
    head
        title Problem4
    body
        h1=name
        p(style="font-size:16px;")=text
        form(action = "/", method = "POST")
                input(name = "date" value = "27-11-2020")
                input(name = "task" value = "Final Exam" style="margin-left:5px;")
                button(style="margin-left:5px;") Submit
        h2=task
        
